body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-body);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-full {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-left {
    height: 100%;
    width: calc(100%/5);
    display: none;
    background-color: aqua;
}

.container-small {
    height: 10%;
    width: 100%;
    background-color: blue;
}

.container-chat {
    height: 80%;
    width: 100%;
    background-color: blanchedalmond;
}