body {
    height: 100vh;
    width: 100vw;
    display: flex;

}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}

.container-chat {
    height: 100%;
    width: 100%;
    background-image: url(/img/mine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-left {
    display: none;
    width: 15%;
    height: 100%;
}

/* col class */
.col-small,
.col-small-cerca,
.col-small-cerca-1,
.col-small-head,
.col-small-head-1 {
    height: calc(100%/10);
    width: 100%;
    background-color: var(--color-small-col);
    display: flex;





}

.container-left .col-small {
    display: none;
}

.col-profiels .col-small {
    height: 70px;
    background-color: var(--color-white);
    border: 2px solid var(--color-small-col);



}

.col-chat {
    height: 80%;
    width: 100%;
    background-image: url(/img/mine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;

}

.col-profiels {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}



/* class flex */
.d-flex-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


.justify {
    justify-content: space-between;
}

.col-small-head {
    justify-content: space-between;
}

.col-small-head-1 {
    justify-content: space-between;
}

/* img class */
.img-profile {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 9px;

}

/* class text */
.text-position {
    height: 100%;
    width: 100%;
    padding: 15px;
}

.text-class-1,
.text-class-2 {
    padding: 15px;
    border-radius: 20px;
    margin: 15px 0px;
    width: 65%;


}

.text-class-1 {
    background-color: var(--color-green);
    align-self: self-end;
}

.text-class-2 {
    background-color: #fff;

}

/* profile class */
.profile-none {
    display: none;
}

/* class head */
.left-head,
.right-head {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-head {
    justify-content: end;
    padding: 0PX 30PX;
}

.col-small-head-1 {
    height: 100%;
}

/* class text profile */
.img-text {
    height: 100%;
    display: flex;
    align-items: center;


}

.col-small .img-text:hover {
    background-color: lightgrey;
}

.img-text h2,
span {
    font-size: 16px;
    display: block;
}

.img-text-blue {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-blue);


}

.img-text-blue h2,
span {
    font-size: 16px;
    display: block;
}

.img-text-blue i {
    background-color: var(--color-white-2);
    color: var(--color-blue);
    padding: 10px;
    margin: 0px 10px;
    border-radius: 50%;
    font-size: 35px;
}

/* class cerca */
.col-small-cerca {
    align-items: center;
    justify-content: center;
    display: none;

}

.col-small-cerca-1 {
    justify-content: center;
    align-items: center;
}

.col-small-cerca-1 .img-text {
    height: 90%;
    width: 100%;
    justify-content: center;



}

.col-small-cerca-1 input {
    height: 80%;
    width: 90%;




}

.col-small-cerca .img-text {
    height: 60%;
    width: 90%;
    background-color: #fff;


}

.col-small-cerca input {
    height: 30px;
    width: 100%;
    padding: 10px;
    border: none;
    color: var(--color-small-col);
}

.col-small-cerca-1 i {
    font-size: 30px;
    color: var(--color-icon);
    display: none;
}