@media screen and (min-width:480px) {
    .container-chat {
        width: 70%;
    }

    .container-left {
        display: inline-block;
    }

    .col-profiels .col-small {
        display: block;
    }
}

@media screen and (min-width:768px) {
    body {
        justify-content: center;
        align-items: center;
    }

    main {
        width: 90%;
        height: 90%;
    }

    .container-left .col-small {
        display: block;

    }


    .col-profiels {
        height: 70%;
    }
}